{% include 'base.html' %}
{% block content %}
     <div class="jumbotron" style="height: 1000px;">
        <div class="container form-group ">
            <form method="post" class="form-control-lg" style="font-family:monospace; margin-left:30%;">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-light text-center font-weight-normal" style="margin-left: 150px;">Submit</button>
            </form>
        </div>
     </div>
{% endblock %}