{% include 'base.html' %}
{% block content %}
    <div class="jumbotron" style="height: 1000px;">
        <div class="container form-group">
             <form method="post" class="form-control-lg" style="margin-left: 100px; width: 100%; font-family:monospace;">
                    {% csrf_token %}
                    <p>
                        {{ form.as_p }}
                        <button type="submit" class="btn btn-light text-center font-weight-normal" style="margin-left: 400px;">Submit</button>
             </form>
        </div>
    </div>
{% endblock %}