{% include 'base.html' %}
{% block content %}
    <div class="jumbotron" style="height: 100vh;">
        <div class="container form-group">
             <form method="post" class="form-control-lg" style="margin-left: 100px; width: 100%; font-family:monospace;">
                    {% csrf_token %}
                    <p>
                        {{ form.as_p }}
                        <input style="margin-left: 100px;" type="submit" value="Submit"> </p>
             </form>
        </div>
    </div>
{% endblock %}