<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Head1</title>
    <h3 class="font-weight-light" style="font-family:monospace; text-decoration: underline; margin: 25px 0px 0px 15px">Classes Quality Feedback</h3>
    {% load staticfiles %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>


<body>

    <div class="jumbotron jumbotron-fluid" style="background: inherit">
        <div class="container">
            <h2 class="text-center font-weight-normal" style="font-family:monospace; font-size: 30px">Admin Board
                <br/><br/>
            </h2>
            <p>
                <button type="button" class="btn btn-outline-dark d-block mx-auto" style="font-family:monospace;"><a href="{% url 'new_users_list' %}">User Activation</a></button>
                <button type="button" class="btn btn-outline-dark d-block mx-auto" style="font-family:monospace;"><a href="{% url 'users_list' %}">All Users</a></button>
                <button type="button" class="btn btn-outline-dark d-block mx-auto" style="font-family:monospace;"><a href="{% url 'courses_list' %}">Courses</a></button>
                <button type="button" class="btn btn-outline-dark d-block mx-auto" style="font-family:monospace;"><a href="{% url 's_groups_list' %}">Student Groups</a></button>
               <button type="button" class="btn btn-outline-dark d-block mx-auto" style="font-family:monospace;"><a href="{% url 'survey_list' %}">Back</a></button>
            </p>
        </div>

    </div>



</body>
</html>