{% include 'base.html' %}
{% block content %}
<div class="jumbotron jumbotron-fluid" style="background: inherit">
    <div class="container">
            <h2 class="text-center font-weight-normal" style="font-family:monospace;">The list of all student groups
                <br/><br/>
            </h2>
            {% if groups %}
                {% for g in groups %}
                            <div class="card"  style="font-family:monospace; font-size: 15px">
                                <div class="card-body">
                                    <p>
                                        {{ g.name }}
                                        <button type="button" class="btn btn-outline-dark"><a href="{% url 's_group_info' g.id %}">Edit Group</a></button>
                                        <button type="button" class="btn btn-outline-dark"><a href="{% url 's_group_delete' g.id %}">Delete Group</a></button>
                                    </p>
                                </div>
                            </div>
                {% endfor %}
            {% else %}
                <h3 class="text-center font-weight-light" style="font-family:monospace;">There is no student groups yet.</h3>
            {% endif %}
            <form  action="{% url 's_groups_list' %}" method="post">
                <div class="text-center">
                    {% csrf_token %}
                    <p>{{ form.as_table}}  <button type="submit" class="btn btn-outline-dark" style="font-family:monospace;">Add group</button></p>
                </div>
            </form>
            <br/>
            <button type="button" class="btn btn-outline-dark d-block mx-auto" style="font-family:monospace;"><a href="{% url 'survey_list' %}">Back</a></button>
    </div>
</div>
{% endblock %}