<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Head1</title>
    <h3 class="font-weight-light" style="font-family:monospace; text-decoration: underline; margin: 25px 0px 0px 15px">Classes Quality Feedback</h3>
    {% load staticfiles %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<div class="jumbotron jumbotron-fluid" style="background: inherit">
    <div class="container">
            <h2 class="text-center font-weight-normal" style="font-family:monospace;">The list of all student groups
                <br/><br/>
            </h2>
            {% if groups %}
                {% for g in groups %}
                            <div class="card"  style="font-family:monospace; font-size: 15px">
                                <div class="card-body">
                                    <p>
                                        {{ g.name }}
                                        <button type="button" class="btn btn-outline-dark"><a href="{% url 's_group_delete' g.id %}">Delete Group</a></button>
                                    </p>
                                </div>
                            </div>
                {% endfor %}
            {% else %}
                <h3 class="text-center font-weight-light" style="font-family:monospace;">There is no student groups yet.</h3>
            {% endif %}
            <form  action="{% url 's_groups_list' %}" method="post">
                <div class="text-center">
                    {% csrf_token %}
                    <p>{{ form.as_table}}  <button type="submit" class="btn btn-outline-dark" style="font-family:monospace;">Add group</button></p>
                </div>
            </form>
            <br/>
            <button type="button" class="btn btn-outline-dark d-block mx-auto" style="font-family:monospace;"><a href="{% url 'admin_board' %}">Back</a></button>
    </div>
</div>



</body>
</html>