{% include 'base.html' %}
{% block content %}
    <div class="jumbotron" style="height: 1000px">
        <div class="container">
            <h3 class="text-center font-weight-normal" style="font-family:monospace;">
                The list of all users
                <button type="button" class="btn btn-light btn-lg" style="font-family:monospace; margin-right: 10px;"><a href="{% url 'add_user' %}">+</a></button>
                  </h3>

            <div class="card">
      <div class="card-header">
        <a class="card-link" data-toggle="collapse" href="#collapseZero">
          Unactive users
        </a>
      </div>
      <div id="collapseZero" class="collapse" >
        <div class="card-body">
        {% if new_users %}
            {% for user in new_users %}
                            <div class="card" style="font-size: 15px">
                                <div class="card-body">
                                    <b>{{ user.first_name}} {{ user.last_name}}</b>
                                    <button type="button" class="btn btn-outline-danger" style="font-family:monospace; margin-right: 10px; float: right;"><a href="{% url 'delete_user' user.id %}">Reject</a></button>
                                    <button type="button" class="btn btn-light" style="font-family:monospace; margin-right: 10px; float: right;"><a href="{% url 'activate_user' user.id %}">Activate</a></button>
                                    <br/>
                                    Email: {{ user.email}}
                                    <br/>
                                    Type:
                                    {% if user.type == 'a' %}
                                    Administrator
                                    {% elif user.type == 'p'%}
                                    Professor
                                    {% elif user.type == 's'%}
                                    Student
                                    {% else %}
                                    Unknown
                                    {% endif %}
                                </div>
                            </div>
            {% endfor %}
        {% else %}
            <p>There are no new users</p>
        {% endif %}
        </div>
      </div>
    </div>



    <div class="card">
      <div class="card-header">
        <a class="card-link" data-toggle="collapse" href="#collapseOne">
          Administration
        </a>
      </div>
      <div id="collapseOne" class="collapse" >
        <div class="card-body">
        {% if admins %}
            {% for user in admins %}
                            <div class="card" style="font-size: 15px">
                                <div class="card-body">
                                    <b>{{ user.first_name}} {{ user.last_name}}</b>
                                    <button type="button" class="btn btn-outline-danger" style="font-family:monospace; margin-right: 10px; float: right;"><a href="{% url 'delete_user' user.id %}">Delete</a></button>
                                    <br/>
                                    Email: {{ user.email}}
                                    <br/>
                                </div>
                            </div>
            {% endfor %}
        {% else %}
            <p>There are no admins</p>
        {% endif %}
        </div>
      </div>
    </div>




    <div class="card">
      <div class="card-header">
        <a class="card-link" data-toggle="collapse" href="#collapseTwo">
          Professors
        </a>
      </div>
      <div id="collapseTwo" class="collapse" >
        <div class="card-body">
        {% if professors %}
            {% for user in professors %}
                            <div class="card" style="font-size: 15px">
                                <div class="card-body">
                                    <b>{{ user.first_name}} {{ user.last_name}}</b>
                                    <button type="button" class="btn btn-outline-danger" style="font-family:monospace; margin-right: 10px; float: right;"><a href="{% url 'delete_user' user.id %}">Delete</a></button>
                                    <br/>
                                    Email: {{ user.email}}
                                    <br/>
                                </div>
                            </div>
            {% endfor %}
        {% else %}
            <p>There are no professors</p>
        {% endif %}
        </div>
      </div>
    </div>


    <div class="card">
      <div class="card-header">
        <a class="card-link" data-toggle="collapse" href="#collapseThree">
          Students
        </a>
      </div>
      <div id="collapseThree" class="collapse" >
        <div class="card-body">
        {% if students %}
            {% for user in students %}
                            <div class="card" style="font-size: 15px">
                                <div class="card-body">
                                    <b>{{ user.first_name}} {{ user.last_name}}</b>
                                    <button type="button" class="btn btn-outline-danger" style="font-family:monospace; margin-right: 10px; float: right;"><a href="{% url 'delete_user' user.id %}">Delete</a></button>
                                    <br/>
                                    Email: {{ user.email}}
                                    <br/>
                                </div>
                            </div>
            {% endfor %}
        {% else %}
            <p>There are no students</p>
        {% endif %}
        </div>
      </div>
    </div>

            <br/>

            <button type="button" class="btn btn-outline-dark d-block mx-auto" onclick="window.location.href='{% url 'survey_list' %}'" ><a>Back</a></button>

        </div>
    </div>

{% endblock %}
