<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <title>Welcome Page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


</head>

<body style="height: 1000px;">

{% load staticfiles %}
{% block sidebar %}

    <nav class="navbar navbar-expand-sm bg-light navbar-light">
        <dev class="nav-item active" >
            <a class="nav-link" style="font-family:monospace; font-size:25px; color: black;" href="{% url 'survey_list' %}">Classes Quality Feedback</a>
        </dev>


        {% if request.user.is_authenticated %}
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                            <dev class="nav-item dropdown" style="margin-left: 570px">
                                {% if request.user.type == 'a' %}
                                  <a class="nav-link dropdown-toggle" style="font-family:monospace; font-size:18px; color: blue; " href="#" id="navbardrop" data-toggle="dropdown">Admin board</a>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" style="font-family:monospace; font-size:18px; color:black;" href="{% url 'users_list'%}">Users</a>
                                        <a class="dropdown-item" style="font-family:monospace; font-size:18px; color:black;" href="{% url 'courses_list' %}">Courses</a>
                                        <a class="dropdown-item" style="font-family:monospace; font-size:18px; color:black;" href="{% url 's_groups_list'%}">Student Groups</a>
                                    </div>
                                </dev>
                                {% endif %}
                    </ul>
                </div>

            <dev class="nav-item active">
                <a class="nav-link" style="color: blue; font-family:monospace; font-size:18px;" href="{% url 'logout' %}?next={{ request.path }}">Log Out</a>
            </dev>
        {% endif %}

    </nav>

{% endblock %}


{% block content %}

{% endblock %}

</body>

</html>