<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Head1</title>
    <h3 class="font-weight-light" style="font-family:monospace; text-decoration: underline; margin: 25px 0px 0px 15px">Classes Quality Feedback</h3>
    {% load staticfiles %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body style="background: white">

    {% if surveys %}
    <div class="jumbotron" style="background: inherit">
        <h2 class="text-center font-weight-normal" style="font-family:monospace;">Welcome!</h2>
        <h3 class="text-center font-weight-light" style="font-family:monospace;">Here are all available serveys.<br/><br/></h3>

        <div class="row">
        {% for survey in surveys %}
            <div class="col-md-6 col-xl-3" style="top: 50%; left: 50%; margin-right: -50%;">
            <div class="card-desk" style="text-align: center">
                <div class="card w-100" style="height:150px">
                <div class="card-body">
                    <h5 class="card-title" style="font-family:monospace;">{{ survey.name }}</h5>
                    <button type="button" class="btn btn-outline-dark" style="font-family:monospace;"><a href="{% url 'survey_detail' survey.id %}">Edit</a></button>
                    <button type="button" class="btn btn-outline-dark" style="font-family:monospace;"><a href="{% url 'survey_submit' survey.id %}">Attend</a></button>
                    <button type="button" class="btn btn-outline-dark" style="font-family:monospace;"><a href="{% url 'survey_result' survey.id %}">Results</a></button>
                </div>
            </div>
            </div>
    </div>
        {% endfor %}
        </div>
    </div>

    {% else %}
     <div class="jumbotron" style="background: inherit">
        <h2 class="text-center font-weight-normal">Welcome!</h2>
        <h3 class="text-center font-weight-light">Unfortunately, there are no surveys yet. To create them, press next button:</h3>
         <button type="button" class="btn btn-outline-dark"><a href="'create_data">Create Data</a></button>
     </div>
    {% endif %}
</body>

</html>