{% extends 'base.html' %}
{% block content %}

    <div class="jumbotron" style="background: inherit">
        <h2 class="text-center font-weight-normal" style="font-family:monospace;">Welcome, {{ user.username }}!</h2>
        {% if surveys %}
            <h3 class="text-center font-weight-light" style="font-family:monospace;">Here are all available surveys.<br/><br/></h3>

            <div class="row">
            {% for survey in surveys %}
                <div class="col-md-6 col-xl-3" style="top: 50%; left: 50%; margin-right: -50%;">
                <div class="card-desk" style="text-align: center">
                    <div class="card w-100" >
                    <div class="card-header">{{ survey.name }}</div>
                    <div class="card-body">
                        <h5 class="card-title" style="font-family:monospace;">
                            Course: {{ survey.course.title }}
                        <br>
                            Status:
                            {% if survey.open == False %}
                                <span class="badge badge-danger">Clossed</span>
                            {% else %}
                                <span class="badge badge-success">Open</span>
                            {% endif %}
                        </h5>
                        {% if request.user.type == 's' %}
                            <button onclick="location.href='{% url 'survey_submit' survey.id %}'" type="button" class="btn btn-outline-dark" style="font-family:monospace;">Attend</button>
                        {% else %}
                            {% if survey.open == False %}
                                <button onclick="location.href='{% url 'survey_open' survey.id %}'" type="button" class="btn btn-outline-dark" style="font-family:monospace;">Open</button>
                            {% else %}
                                <button onclick="location.href='{% url 'survey_close' survey.id %}'" type="button" class="btn btn-outline-dark" style="font-family:monospace;">Close</button>
                            {% endif %}
                            <button onclick="location.href='{% url 'survey_detail' survey.id %}'" type="button" class="btn btn-outline-dark" style="font-family:monospace;">Edit</button>
                            <button onclick="location.href='{% url 'results' survey.id %}'" type="button" class="btn btn-outline-dark" style="font-family:monospace;">Results</button>
                        {% endif %}


                    </div>
                </div>
                </div>
                </div>
            {% endfor %}
            </div>
        {% else %}
            <h3 class="text-center font-weight-light">Unfortunately, there are no surveys available to you</h3>
        {% endif %}
    </div>
    <div class="text-center">
         {% if request.user.type == 's' %}
         {% else %}
             <p><button onclick="location.href='{% url 'survey_create' %}'" type="button" class="btn btn-outline-dark" style="font-family:monospace;">Add Survey</button></p>
         {% endif %}

    </div>
{% endblock %}