<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <h1> {{ survey.name }} </h1>



    <form  action="{% url 'survey_submit' survey.id %}" method="post">
    {% csrf_token %}
        {{ form.as_p }}
{#        <a>{{ question.text }}</a>#}
{#        <label for="answer">Your name: </label>#}
{#        <input type="text" name="answer" id="choice1">#}
    <p> <input type="submit" value="Vote"> <button ><a href="{% url 'survey_list' %}">Back</a></button> </p>
    </form>


</head>
<body>

</body>
</html>