{% extends 'base.html' %}
{% block content %}
<div class="jumbotron jumbotron-fluid" style="height: 1000px">
    <div class="container">
            <h2 class="text-center font-weight-normal" style="font-family:monospace;">The list of all student groups
                <br/><br/>
            </h2>
            {% if groups %}
                {% for g in groups %}
                            <div class="card"  style="font-family:monospace; font-size: 15px">
                                <div class="card-body">
                                    <p>
                                        {{ g.name }}
                                        <button type="button" class="btn btn-outline-danger" style="font-family:monospace; margin-right: 10px; float: right;"><a href="{% url 's_group_delete' g.id %}">Delete Group</a></button>
                                        <button type="button" class="btn btn-light" style="font-family:monospace; margin-right: 10px; float: right;"><a href="{% url 's_group_info' g.id %}">Edit Group</a></button>
                                    </p>
                                </div>
                            </div>
                            <div>
                                <br/>
                            </div>
                {% endfor %}
            {% else %}
                <h3 class="text-center font-weight-light" style="font-family:monospace;">There are no student groups yet.<br/>Please, add a new one.</h3>
                <br/>
            {% endif %}
            <form  class="form-control-lg" style="width: 100%; font-size: 18px; font-family:monospace;" action="{% url 's_groups_list' %}" method="post">
                <div class="text-center">
                    {% csrf_token %}
                    <p>{{form}}
                        <button type="submit" class="btn btn-light text-center font-weight-normal" style="font-family:monospace;">Add group</button>
                </div>
            </form>
            <br/>
           <button type="button" class="btn btn-light" style="font-family:monospace; font-size: 18px; margin-left:530px"><a href="{% url 'survey_list' %}">Back</a></button>
        </div>
</div>
{% endblock %}