{% extends 'base.html' %}
{% block content %}
<div class="jumbotron jumbotron-fluid" style="background: inherit">
    <div class="container">
    {% if course %}
            <h2 class="text-center font-weight-normal" style="font-family:monospace;">{{ course.title }}: Instructors
                <br/><br/>
            </h2>
            {% if instructors %}
                {% for i in instructors %}
                            <div class="card"  style="font-family:monospace; font-size: 15px">
                                <div class="card-body">
                                    <b>
                                        {{ i.user.first_name }} {{ i.user.last_name }}
                                        <button type="button" onclick="location.href='{% url 'delete_prof' i.id %}'" class="btn btn-outline-danger" style="float: right;" >-</button>
                                    </b>
                                    <p>
                                        {{ i.user.email }}
                                    </p>
                                </div>
                            </div>
                {% endfor %}
            {% else %}
                <h3 class="text-center font-weight-light" style="font-family:monospace;">There is no assigned instructors in {{ course.title }}</h3>
            {% endif %}
            <form  action="{% url 'course_instructors' course.id %}" method="post">
                <div class="text-center">
                    {% csrf_token %}
                    <p>{{ form }}  <button type="submit" class="btn btn-outline-dark" style="font-family:monospace;">Add Instructor</button></p>
                </div>
            </form>

    {% else %}
        <h2 class="text-center font-weight-normal" style="font-family:monospace;">Sorry, such course does not exists
                <br/><br/>
            </h2>
    {% endif %}
            <br/>
            <button type="button" class="btn btn-outline-dark d-block mx-auto" style="font-family:monospace;"><a href="{% url 'courses_list' %}">Back to courses</a></button>
    </div>
</div>
{% endblock %}